
<div class="header">
  <div class="center">
      <h1> Electro..!</h1>
  </div>
   <div class="login">
      <h2 [routerLink] = "['/login']">Login</h2>
      <!-- <h2><a [routerLink] = "['/login']">Login</a></h2> -->
   </div> 


  <input class="input" placeholder="Search here.....">
  <!-- <button class="search-btn">Search</button> -->
  <button  type ="button" class="btn search-btn">Search</button>

</div>

  <div class="container">
       <a [routerLink] = "['/Laptops']" >Home</a>
       <a [routerLink] = "['/Accessories']">Accessories</a>
       <a [routerLink] = "['/Cameras']">Cameras</a>
       <a [routerLink] = "['/Laptops']">Laptops</a>
       <a [routerLink] = "['/Samartphone']">Smartphones</a>
       <a [routerLink] = "['/Aboutus']">AboutUS</a>
     
  </div>
  <mat-grid-list cols="4" rowHeight="2:3">
      <mat-grid-tile>
      <mat-card class="example-card">
         <mat-card-header>
           <div mat-card-avatar class="example-header-image"></div>
           <mat-card-title></mat-card-title>
           <mat-card-subtitle></mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="../assets/Apple.jpg" alt="laptops">
         <mat-card-content>
           <p>  
            Apple MacBook Air Core i5 5th Gen <br>
            Rs. 77,200
           </p>
         </mat-card-content>
         <mat-card-actions>
           <button mat-button [routerLink] = "['/laptops']">View More...</button>
         </mat-card-actions>
       </mat-card>
      </mat-grid-tile>
   
      <mat-grid-tile>
      <mat-card class="example-card">
         <mat-card-header>
           <div mat-card-avatar class="example-header-image"></div>
           <mat-card-title></mat-card-title>
           <mat-card-subtitle></mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="../assets/tab.jpg" alt="laptops">
         <mat-card-content>
           <p>  
           Samsung Galaxy J3 <br>
           Rs. 8,147
           </p>
         </mat-card-content>
         <mat-card-actions>
           <button mat-button>View More...</button>
         </mat-card-actions>
       </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
            <mat-card class="example-card">
               <mat-card-header>
                 <div mat-card-avatar class="example-header-image"></div>
                 <mat-card-title></mat-card-title>
                 <mat-card-subtitle></mat-card-subtitle>
               </mat-card-header>
               <img mat-card-image src="../assets/camera.jpg" alt="laptops">
               <mat-card-content>
                 <p>  
                  CANON EOS 5D MARK III <br>
                  Rs. 2,19,000
                 </p>
               </mat-card-content>
               <mat-card-actions>
                 <button mat-button>View More...</button>
               </mat-card-actions>
             </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                  <mat-card class="example-card">
                     <mat-card-header>
                       <div mat-card-avatar class="example-header-image"></div>
                       <mat-card-title></mat-card-title>
                       <mat-card-subtitle></mat-card-subtitle>
                     </mat-card-header>
                     <img mat-card-image src="../assets/headhone.jpeg" alt="laptops">
                     <mat-card-content>
                       <p>  
                        COSMIC BYTE G4000 EDITION  <br>
                        Rs. 949
                       </p>
                     </mat-card-content>
                     <mat-card-actions>
                       <button mat-button>View More...</button>
                     </mat-card-actions>
                   </mat-card>
                  </mat-grid-tile>
      </mat-grid-list>
  
  
      <div class="footer">
          <p>Footer</p>
        </div>
          
















  
      











